# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.SnakeTestTask.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\SnakeTestTask\.idea\.idea.SnakeTestTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
